.containerCart{
    margin-top: 5%;
    height: 150%;
}
.iconCargando{
    margin-top: 10%;
    height: 100%;
}
.cartProducts{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}
.btnEliminar{
  border: none;
  background-color: white;
}
.productsContainer{
    display: flex;
    align-items: baseline;
    width: 80%;
    justify-content: space-evenly;
    margin-top: 5%;
}
.productsContainer p{
  font-size: 1rem;
  font-family: "Poppins",sans-serif; 
}
.fotoProd{
    width: 150px;
}
.productsContainer h1{
    font-size: 1.1rem;
    font-family: "Poppins",sans-serif;
    font-weight: 600;
}
.containerCart h2{
  font-family: 'Prata', serif;
  font-size: 1.5rem;
}
.fotoDetalle{
    width: 40%;
}
.cart__quantity{
    width: 20%;
}
.productsName{
    display: flex;
    flex-direction: column;
}
.cart__total h1{
    font-size: 1.6rem;
    font-family: "Poppins",sans-serif;
    font-weight: 600;
}
.cart__total p{
    font-size: 1.2rem;
}
.resume__btn{
    background-color: #141414;
    color: #fff;
    padding: 8px;
    font-weight: 500;
    border-radius: 0.5rem;
    border: 2px solid #8a8a8a;
}
.btnFinalizar{
    background-color: #141414;
    color: #fff;
    padding: 8px;
    font-weight: 500;
    border-radius: 0.5rem;
    border: 2px solid #8a8a8a;
    text-decoration: none;

}
.BtnOrderFin{
    background-color: #141414;
    color: #fff;
    padding: 8px;
    font-weight: 500;
    border-radius: 0.5rem;
    border: 2px solid #8a8a8a;
    text-decoration: none;
}
.resume{
    width: 100%;
}
.resume__containerBtn{
    justify-content: center;
    gap: 5%;
}