.formContainer{
	display: flex;
	justify-content: center;
	width: 100%;
}

.formulario {
	width: 40%;
	margin-top: 50px;
	background: ghostwhite;
	border-radius: 5px;
	padding: 20px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.formOrden h1{
	font-size: 1.2rem;
	font-family: "Poppins",sans-serif;
}
.formOrden h2{
	font-size: 1rem;
	font-family: "Poppins",sans-serif;
}
.formulario > div {
	margin-bottom: 20px;
}

.formulario label {
	display: block;
	font-weight: 600;
	font-size: 14px;
	margin-bottom: 5px;
	color: #1f1f1f;
}

.formulario input,
.formulario textarea {
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	border-radius: 5px;
	border: 2px solid #e2e2e2;
	font-size: 18px;
	padding: 10px;
	margin-bottom: 5px;
	color: #1f1f1f;
}

.formulario input:focus {
	outline: none;
	border: 2px solid #0085FF;
}

.formulario .error {
	color: #e92b2d;
	font-weight: 600;
	font-size: 12px;
}

.formulario button[type="submit"] {
	display: inline-block;
    background-color: #141414;
    color: #fff;
    padding: 10px;
    font-weight: 500;
    border-radius: 0.5rem;
    border: 2px solid #8a8a8a;
    transition: .3s;
    cursor: pointer;
    margin: 5%;
	width: 50%;
}

.formulario button[type="submit"]:hover {
	background: #0051ff;
}

.formulario .exito {
	text-align: center;
	font-size: 14px;
	padding-top: 20px;
	color: #02a802;
}

.formulario input[type="radio"] {
	width: auto;
}