.main{
    height: 100vh;
}
ul{
    display: grid;
    margin-top: 3%;
    grid-gap: 2%;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;

}
.titleContainer{
    font-size: 1.5rem;
     font-family: "Poppins",sans-serif;
}
.containerProductos{
    margin-top: 5%;
}
.containerBanner{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid silver;
    
}

.fotoBanner{
    width: 100%;
    height: 60vh;

}
.Textobanner{
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    
}
.Textobanner h1{
    font-family: 'Koulen';
    font-size: 2.5rem;
}
