.cardDetail{
    width: 30%;
}
.CardContainer{
    display: flex;
    justify-content: center;
}
.CardItem{
    border: 3px solid black;
    width: 30%;
}
.cuerpoDetail{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}

.card-footer{
    background-color: antiquewhite;
}

.detalleContainer p{
    font-size: 1.5rem;
    text-align: center;
}
.detalleContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
