.cardDetail{
    width: 30%;
}
.CardContainer{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.CardItem{
 display: flex;
 width: 100%;
justify-content: center;
}
.cuerpoDetail{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}

.detalleContainer p{
    font-size: 1rem;
    text-align: initial;
    width: 60%;
}
.detalleContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ItemFooter{
    display: flex;
    justify-content: center;
    width: 100%;
}
.btnIrCarrito{
    display: inline-block;
    background-color: #141414;
    color: #fff;
    padding: 1.125rem 2rem;
    font-weight: 500;
    border-radius: 0.5rem;
    border: 2px solid #8a8a8a;
    transition: .3s;
    cursor: pointer;
    margin: 5%;
    text-decoration: none;
}
a:hover{
    color: white;
}
.titleDetalle{
    font-size: 1.5rem;
    font-family: 'Prata', serif;
}
.fotoDetalle{
    width: 50%;
}
.ItemImg{
  width: 250px;  
}
