body{
 display: grid;
 grid-template-rows: 0.2fr 1fr 0.2fr;
 background-color: black;
}
.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
}
.titulo{
  color:white
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    width: 150px;

  }
  img{
    width: 300px;
  }
}

.App-header {
  background-color:white;
  min-height: 100vh;
} 
.menu{
  display: flex;
}
.Caja-logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.App-link {
  color: #61dafb;
}

