.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
}
.titulo{
  color:white
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;

  }
}

.App-header {
  background-color:white;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 0.1fr;
}
.Caja-logo{
  display: flex;
}
.App-link {
  color: #61dafb;
}

