body{
 display: grid;
 grid-template-rows: 0.2fr 1fr 0.2fr;
}
.App {
  text-align: center;
}


.App-logo {
  pointer-events: none;
}
.titulo{
  color:white
}
@media (min-width:992px) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    width: 150px;

  }
  img{
    width: 300px;
  }
}

.Caja-logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
 .App-header {
  background-color:white;
  min-height: 100vh;
} 

.App-link {
  color: #61dafb;
} 

